.bar_container {
  margin-top:135px;
}
.bar_head{
  display: -webkit-flex;
  display: flex;
  width: 96%;
  height: 70px;
  margin:8px 2%;
  font-size: 26px;
  position: relative;
}
.bar_head_left{
  width: 70px;
  height: 70px;
  background: url("../../src/components/BarList/images/head5.jpg");
  border-radius: 50%;
  background-size:100% 100%;
}
.bar_head_right{
  width: 90%;
  height: 70px;
  padding-left: 15px;
  flex: 1;
}
.bar_detail_header{
  color: black;
}
.attBtn{
  width: 80px;
  height: 40px;
  border-radius:18px;
  background-color: #eeac35;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  margin-top: 5px;
  right: 10px;
}
.bar_detail_footer{
  font-size: 20px;
  margin-top: 0px;

}

.bar_li{
  border-bottom: 5px solid #e4e4e4;
}
.bar_list_discuss li{
  float: left;
  list-style: none;
}

.bar_text{
  width: 96%;
  margin: 5px 2%;
  font-size: 24px;
  color: #222222;
  line-height:  24px;
  padding-top: 5px;
}

.bar_list_discuss{
  width:100%;
  height: 20px;
}
.bar_show{
  width: 96%;
  height:400px;
  background: url("../../src/components/BarList/images/head2.jpg");
  background-size: 100% 100%;
  margin: 0 2%;
}

.bar_footer{
  bottom-border:1px solid #e4e4e4;
  width:100%;
  background :#fff;
  overflow :hidden;
}

.list_discuss_link{
  float: left;
  width :33%;
  text-align :center;
  border-right :1px solid #e4e4e4;
}
.list_discuss_num{
  display :inline-block;
  font-size: 22px;
  color :#666;
  font-weight: 400;
  padding-bottom:20px;
  line-height: 22px;
  margin-top: 20px;
}
.list_footer{
  width:100%;
  height: 50px;
  background: #e4e4e4;
  color: #7e8c8d;
  margin-bottom: 80px;
  text-align: center;
  padding-top: 15px;
}
